*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.menu{
    display: fixed;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    background-color: yellow;
    box-shadow: 2px 2px 20px yellow;
    background-image: url('../img/fundo-menu.jpeg');
}
ul {
    display: flex;
    width: 100vw;
    justify-content: end;
    margin-right: 20px;
}
.item{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 40px;
    color: maroon;
    border-width: 10px;
    align-items: center;
    float: left;
    padding-right: 10px;
    margin-left: 70px;
    margin-right: 50px;
}
.item a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.logo{
    background-image: url('../img/macacobanana.jpg');
    height: 60px;
    width: 60px;
}
.principal{
    background-image: url('../img/bannermacaco.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.item a:hover{
    background-color: antiquewhite;
    color: darkred;
    border-radius: 10px;
    padding: 5px;
}
.child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-top: 10px;
    border-radius: 20px;
    float: left;
    margin-left: 15px;
}
.child img{
    border-radius: 20px;

}
.child img:hover{
    width: 200px;
    height: 200px;
    transition: 1s;
}
.fotos{
    width: 1510px;
    height: 650px;
    margin-left: 5px;
}
.footer{
    height: 400px;
    width: 98%;
    background-color: yellow;
    margin-left: 20px;
}
.redes-sociais{
    width: 48%;
    height: 380px;
    background-color: rgb(155, 164, 68);
    margin: 10px;
    float: left;
}
.contato{
    float: left;
    width: 48%;
    height: 380px;
    background-color: rgb(155, 164, 68);
    margin-top: 10px; 
}
.redes-sociais a{
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.redes-sociais a:hover{
    color: red;
}
.contato a{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: yellow;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 24px;
}
.redes-sociais a:hover{
    color: red;

}
